ase==3.26.0
matbench==0.6
matplotlib==3.10.7
numpy==1.26.4
pandas==1.5.3
pymatgen==2025.10.7
PyYAML==6.0.2
requests==2.32.5
scikit-learn==1.7.2
tensorboard==2.20.0
torch-geometric==2.7.0
tqdm==4.67.1
